// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1F294C;
$red : #F07C63;
$yellow: #FFCF4F;
$green : #5BB286;
$whiteHeader : #FDFDFB;
