// Variables
@import 'variables';


#annonce {

    #annonce_basicInfos {
        background-color: $red;
        padding: 56px;
    
        div:first-child {
            background-color: white;
            border-radius: 9px;
            padding: 20px;
        }   
    
    }

    #description, #details {
        margin: 55px;
    
    }


    #details #details__infos div { 
        display: flex;
        flex-direction: row;

        p {
            margin-left: 15px;
        }
    }
}
