// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
header {
    padding: 20px;
    display: flex;
    align-items: center;
    height:20vh;
    background-color: $white;
    justify-content: space-between;
    box-shadow: 10px 5px 5px #dedddd;

    h1 {
        margin-left: 10px;
    }

    #laBoiteASel{
        display: flex;
        flex-direction: row;

        #laBoiteASel__nom {
            display: flex;
            align-items: center;
            margin-top: 35px;
        }

        img {
            width: 80px;
        }
    }
}


/*Burger menu*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;

    a {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-self: center;
    }
    
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width : 960px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 20vh;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 3.1em;
      padding: 0.13em;
      background: $yellow;
      border-bottom: solid $red 0.13rem;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: $blue;
      background-color: $white;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid $green;
    }
  }




 

// Footer

footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $blue;

    *:focus {
        outline : 3px dashed #fff!important;
    }

    p,a {
        color: white;
    }

    #reseauxSociaux {
        margin: 0 0 18px 0;

        svg {
            color: white !important;
        }

        .reseauxSociaux__icon {
            margin:0 20px;
        }
    }


    #rgpd{
        display : flex;
        flex-direction: row;
        justify-content: center;

        span {
            color: white;
        }

        a {
            margin: 0 4px;
        }

        a:hover {
            color: white;
        }
    }
}

// globals

body {
    font-family : "Roboto", serif
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size:1.75rem;
}

h4, label {
    font-size:  1rem;
}

label {
    margin-top : $spacing-6;
}

input {
    padding: $spacing-6;
    height: 45px;
}


* :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
    font-weight: bold;
    color: $blue;
    font-family: "News Cycle";
}

*:focus { 
    outline : 3px dashed $blue;
}

* {
    box-sizing : border-box;
}

.bloc--bg-red {
    background-color: $red;
}

.bloc--bg-yellow {
    background-color : $yellow;
}

.bloc--bg-blue {
    background-color : $blue;

    &> *:focus {
        outline : 3px dashed #fff!important;
    }
}

.bloc--bg-white {
    background-color : $white;
}

.button-blue {
   @include button($blue, #fff);
}

.button-yellow {
    @include button($yellow, $blue);
 }

.button-white {
    @include button(#fff, $blue);

    &:focus {
        outline : 3px dashed #fff!important;
    }
}

.bloc--1-3 {
    @include bloc--2-columns(30%, 70%);
   
    &>*:first-child {
        background-color : #fff;
    }
}

.bloc--3-1 {
    @include bloc--2-columns(70%, 30%);
   
    &>*:first-child {
        background-color : #fff;
    }
}

.bloc--2-2 {
    @include bloc--2-columns(50%, 50%);

    .form__block__column {
        display: flex;
        flex-direction: column;
    }
}

.block--1-5 {
    @include bloc--2-columns(20%, 80%);
}

.bloc--3-columns {
    display : flex;
    flex-direction : column;
    align-items: center;

    @media screen and (min-width : $laptop){
        flex-direction : row;
    }

    &>*{
       display : flex;
       flex-direction : column; 
       width : 30%;
    }
}

.yellowButton {
    @include button($yellow, $blue);

}

label {
    color : $blue;
}

.field_error {
    color : $blue;
    font-weight : bold;
    border : 2px solid $red;
    padding : $spacing-6;
    width : fit-content;
    margin-top : $spacing-6;
}
