// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


header {
    background-color: $whiteHeader;
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size:1.75rem;
}

h4 {
    font-size:  1rem;
}

* :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
    font-weight: bold;
    color: $blue;
}

* :focus { 
    outline : 3px dashed $blue;
}

.button {
    background-color: $blue;
    padding : $spacing-6 $spacing-4;
    border-radius : $border-rd-sm;
    color : #fff;

    &:hover {
        background-color: #fff;
        color : $blue;
        border : 2px solid $blue;
    }
}
