// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    box-shadow: 10px 5px 5px #dedddd;

    h1 {
        margin-left: 10px;
    }

    #laBoiteASel{
        display: flex;
        flex-direction: row;

        #laBoiteASel__nom {
            display: flex;
            align-items: center;
            margin-top: 35px;
        }
    }

    #menu {
        .menu__lien {
            font-family: $font-family-sans-serif;
            margin: 7px 12px 0 0;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 20px;
        }

        .menu__lien:active {
            text-decoration: underline;
        }
    }
}

// Footer

footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $blue;

    p,a {
        color: white;
    }

    #reseauxSociaux {
        margin: 0 0 18px 0;

        svg {
            color: white !important;
        }

        .reseauxSociaux__icon {
            margin:0 20px;
        }
    }


    #rgpd{
        display : flex;
        flex-direction: row;
        justify-content: center;

        span {
            color: white;
        }

        a {
            margin: 0 4px;
        }

        a:hover {
            color: white;
        }
    }
}

// globals

body {
    font-family : "Roboto", serif
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size:1.75rem;
}

h4 {
    font-size:  1rem;
}

input {
    padding: 7px;
}


* :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
    font-weight: bold;
    color: $blue;
    font-family: "News Cycle";
}

*:focus { 
    outline : 3px dashed $blue;
}

* {
    box-sizing : border-box;
}

.bloc--bg-red {
    background-color: $red;
}

.bloc--bg-yellow {
    background-color : $yellow;
}

.bloc--bg-blue {
    background-color : $blue;

    &> *:focus {
        outline : 3px dashed #fff!important;
    }
}

.button-blue {
   @include button($blue, #fff);
}

.button-white {
    @include button(#fff, $blue);

    &:focus {
        outline : 3px dashed #fff!important;
    }
}

.bloc--1-3 {
    @include bloc--2-columns(30%, 70%);
   
    &>*:first-child {
        background-color : #fff;
    }
}
