@import 'variables';
@import 'mixins';

main {
    &>div:nth-child(odd){
        background-color : $red;
    }

    &>div:nth-child(even){
        background-color : $yellow;
    }

    .bloc-text {
        background-color : #fff;
    }

    &>div {
        padding : $spacing-4;
    }

    //formulaires

    .form__block {
        margin : $spacing-3;
        border-radius : $border-rd-lg;
        padding: $spacing-3 0;

        &__title {
            background-color : #fff;
            padding : $spacing-6;
            width: fit-content;
        }

        &__wrapper {
            padding: 0 2rem;
        }

        @media screen and (min-width : $laptop){
            input:not([type="radio"]), textarea, select {
                width : 60%;
            }
        }
    }

}
