@import 'variables';
@import 'mixins';

body {
    .bloc-white {
        background-color: $white;
        padding : 1rem;
        max-height: 332px;
    }

    .bloc-red {
        background-color: $red;
        padding : 1rem;
        min-height: 400px;
    }

    .left-panel {
        background-color: #fff;
        border-radius: $border-rd-lg;
        border: 1px solid transparent;
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
        padding: $spacing-4;
        margin: $spacing-3;
        float: left;
        width: 40%;
    }

    .right-panel {
        background-color: #fff;
        border-radius: $border-rd-lg;
        border: 1px solid transparent;
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
        padding: $spacing-4;
        margin: $spacing-3;
        position: relative;
        margin-left: 50%;
    }

    .panel-title {
        border-bottom: 2px solid $green;
        text-align: center;
        margin: auto;
        width: fit-content;
        margin-bottom: $spacing-5;
        padding: $spacing-5;
    }

    p {
        align-items: flex-start;
    }

    .text {
        text-align: left;
    }

    .menu-button {
        background-color: #e0e0e0;
        color: $blue;
        margin: $spacing-6;
        margin-left: 800px;
        margin-top: -48px;
        padding: 0;
        padding-right: 5px;
    }

    .menu-option {
        display: inline;
        margin: $spacing-4;
        text-decoration: none;
    }

    .menu-option-info {
        border-radius: 5%;
        border-bottom: 3px solid $blue;
        width: fit-content;
        text-decoration: none;
        padding: 5px;
    }

    .bloc-menu {
        display: inline;
        margin-left: 350px;
    }

    .user-image {
        text-align: center;
        align-items: center;
        margin-top: -50px;
        margin-left: 200px;
        width: 70%;
        border-bottom: 1.5px solid hsl(0, 0%, 95%);
        margin-bottom: 15px;
    }

    .bg-image {
        align-items: center;
        border-radius: 0 0 $border-rd-lg $border-rd-lg ;
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
        max-height: 180px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        min-width: 900px;
    }
}