// Variables
@import 'variables';

.main-formEditCategory {
    margin: $spacing-4;

    .form {
        margin: $spacing-4  $spacing-4  $spacing-4 0;
        padding: $spacing-4;
        border-radius: $spacing-4;

       .form__inputsContainer {
            display: flex;
            flex-direction: column;

            input , select{
                width: fit-content;
                margin-top: $spacing-6;
            }

            select {
                padding: $spacing-6;
            }
       }
        button {
           margin: $spacing-5 0;
        }
    }
}
