// Variables
@import 'variables';

#annonces {
    display: flex;
    flex-direction: row;

    h2 {
        font-weight: bold;
    }

    #filtres {
        margin: 28px 24px;

        h2 {
            border-bottom: 2px solid $green;
            width: fit-content;
            padding-bottom: 8px;
        }

        #filtres__description {
            font-size : $font-size-base;
        }

        .filtres_container {
            display: flex;
            flex-direction: column;
            margin : 30px 0;

            p {
                font-size: 19px;
                width: 382px;
            }

            select, input {
                width: fit-content;
                font-family: "Roboto", sans-serif;
            }

            select {
                padding: 8px;
            }

            label {
                font-family: $font-family-sans-serif;
                font-size: 17px;
                margin-bottom: 9px;
            }
        }

        button {
            float: right;
        }
    }

    #listAnnonces {
        padding: 15px 10px 10px 0;
        background-color: $red;
        margin-left: 5px;
        flex-grow: 1;

        /*#listAnnonces__annonces p {
            font-size: 22px;
        }*/

        h2 {
            padding: 10px 10px 10px 42px;
            background-color: white;
            width: fit-content;
            margin-top: 16px;
        }

        .annonce {
            background-color: $white;
            margin : 29px 23px 0 42px; 
            border-radius: 10px;
            padding: 20px;

            .annonce__infos {
                h3 {
                    margin-left: 6px;
                }
              
                .annonce__infosDate {
                    margin-bottom: 10px;
                }
                .annonce__infosCategorie, .annonce__infosDate {
                    display: flex;
                    align-items: center;

                    p {
                        margin-top: 12px;
                        margin-left: 12px;
                    }
                }

                .annonce_btn {
                    display: flex;
                    margin-top: $spacing-5;

                    .link {
                        margin-right: $spacing-5;
                    }

                }
            }
        }

    }
}

