@import 'variables';
@import 'mixins';

body {
    .bloc {

        &-profil {
            display : flex;

            &__img {
                border-right : 1px solid $green;
                padding : 0 $spacing-6;
            }

            &__infos {
                padding : 0 $spacing-4;
            }

            .bloc-infos__name, .bloc-infos__date {
                display : inline;
            }

            .bloc-infos__date {
                right: 20px;
                position: absolute;
            }
        }

        &-messages {
            position : relative;

            &__wrapper {
                overflow : none;
                background-color: $yellow;
                padding: $spacing-3;
                position: relative;
            }


            .bloc-message {
                box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
                padding : $spacing-4;
                border-radius : $border-rd-sm;
                position : relative;
                margin-bottom : $spacing-1;
                margin-top : $spacing-4;

                &:last-child{
                    margin-bottom: 200px;
                }

                &--received {
                    background-color : $white;
                    margin-left : 30%;
                    &::after {
                        border-right : 60px white solid;
                        right: 30px;
                    }
                }

                &--send {
                    background-color : #fff;
                    margin-right : 30%;
                    &::after {
                        border-left : 60px white solid;
                        left : 30px;
                    }
                }

                &::after {
                    content : "";
                    border-top : 0px transparent solid;
                    border-bottom : 40px transparent solid;
                    position: absolute;
                    bottom: -40px;
                }
    
                &__date {
                    border-top : 1px solid $green;
                    color : $blue;
                    width: fit-content;
                }
            }

            &__content {
                padding : $spacing-5;
                display : flex;
                flex-direction : column;
                align-items: center;
                position: absolute;
                bottom: 0;
                min-width : 100%;

                label {
                    color : #fff;
                }

                textarea {
                    width : 95%;
                }

            }

            &__wrapper-textarea {
                width : 75%;
            }

        }

    }

    @media  (min-width : $laptop) {

        .bloc{

            &-profil {
                padding : 1.5rem;

                &__img {
                    padding : $spacing-4;
                }
            }

            &-messages {

                &__content {
                flex-direction: row;

                    button {
                        width : 25%;
                    }
                }

                &__wrapper {
                    max-height: 100vh;
                    overflow: scroll;
                    scrollbar-color: $red $blue;
                    &::-webkit-scrollbar {
                        background-color: $blue;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $red;
                    }
                }
            }
        }
    }
} 