@import 'variables';

body {

    .main-validation {
        background-color: $white;
    }

    .bloc-yellow {
        background-color: $yellow;
        margin: auto;
        border-radius: $border-rd-sm;
        max-width: 600px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        min-height: 200px;
        position: relative;
        padding: $spacing-3;
        margin-bottom: 50px;
    }

    .bloc-title{
        padding: $spacing-5;
        margin: auto;
        width: fit-content;
        margin-bottom: $spacing-5;
        align-items: center;
        text-align: center;
    }

    .bloc--icon {
        margin-left: 615px;
        margin-bottom: $spacing-4;
    }

    .main-validation p {
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: $blue;
    }
}