#annonces {
  display: flex;
  flex-direction: row;
}
#annonces h2 {
  font-weight: bold;
}
#annonces #filtres {
  margin: 28px 24px;
}
#annonces #filtres h2 {
  border-bottom: 2px solid #5BB286;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 8px;
}
#annonces #filtres #filtres__description {
  font-size: 0.9rem;
}
#annonces #filtres .filtres_container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
#annonces #filtres .filtres_container p {
  font-size: 19px;
  width: 382px;
}
#annonces #filtres .filtres_container input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Roboto, sans-serif;
}
#annonces #filtres .filtres_container label {
  font-family: "News Cycle", sans-serif;
  font-size: 17px;
  margin-bottom: 9px;
}
#annonces #filtres button {
  float: right;
}
#annonces #listAnnonces {
  padding: 15px 10px 10px 0;
  background-color: #F07C63;
  margin-left: 5px;
  flex-grow: 1;
}
#annonces #listAnnonces h2 {
  padding: 10px 10px 10px 42px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
}
#annonces #listAnnonces .annonce {
  background-color: #FDFDFB;
  margin: 29px 23px 0 42px;
  border-radius: 10px;
  padding: 20px;
}
#annonces #listAnnonces .annonce .annonce__infos h3 {
  margin-left: 6px;
}
#annonces #listAnnonces .annonce .annonce__infos button {
  margin-right: 33px;
}
#annonces #listAnnonces .annonce .annonce__infos .annonce__infosDate {
  margin-bottom: 10px;
}
#annonces #listAnnonces .annonce .annonce__infos .annonce__infosCategorie, #annonces #listAnnonces .annonce .annonce__infos .annonce__infosDate {
  display: flex;
  align-items: center;
}
#annonces #listAnnonces .annonce .annonce__infos .annonce__infosCategorie p, #annonces #listAnnonces .annonce .annonce__infos .annonce__infosDate p {
  margin-top: 12px;
  margin-left: 12px;
}
