body {
  /*
  @media (max-width : $tablet) {
      .bloc1 {
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
          background-image: url("../../public/images/mains-1.webp");
          background-repeat: no-repeat;
          min-height: 350px;
          position: relative;
      }
  }
  */
}
body .bloc--bg-white {
  background-color: #FDFDFB;
}
body .bloc--bg-red {
  background-color: #F07C63;
}
body .Login {
  padding: 3rem;
}
body .Login form {
  margin-left: 20rem;
  background-color: #FFCF4F;
  border-radius: 16px;
  font-size: 0.9rem;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -80px;
  padding: 0.5rem;
}
body .group {
  padding: 0.5rem;
  margin: 0.5rem;
}
body .bloc1 {
  margin: auto;
  border-radius: 16px;
  max-width: 500px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: url(/images/mains-1.webp?6fb76a878f4585ae5598d11522fda846);
  background-repeat: no-repeat;
  min-height: 350px;
  position: relative;
  padding: 2rem 0;
}
body .title {
  color: #1F294C;
  background-color: #FDFDFB;
  max-width: 250px;
  border-radius: 0 5px 5px 0;
  border: 1px solid transparent;
  margin-left: 0;
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
}
body button {
  display: block;
  margin-left: 50px;
  background-color: #1F294C;
  color: white;
}
