body .main-validation {
  background-color: #FDFDFB;
}
body .bloc-yellow {
  background-color: #FFCF4F;
  margin: auto;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  min-height: 200px;
  position: relative;
  padding: 2rem;
  margin-bottom: 50px;
}
body .bloc-title {
  padding: 1rem;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  align-items: center;
  text-align: center;
}
body .bloc--icon {
  margin-left: 615px;
  margin-bottom: 1.5rem;
}
body p {
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #1F294C;
}
